<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="URLIncludesProjectName" value="true"/>
		<add key="TfsUrl" value="https://tfs03.codeplex.com"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true" />
		<authentication mode="None" />
		<httpHandlers>
			<add verb="*" path="*" type="SvnBridge.Web.SvnBridgeHttpHandler, SvnFacade.Library" />
		</httpHandlers>
	</system.web>
</configuration>
