<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="URLIncludesProjectName" value="false" />
    <add key="TfsUrl" value="http://codeplex-team:8080" />
    <add key="LogPath" value="C:\CodePlex\SvnBridge" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" />
    <authentication mode="None" />
    <!--
    IIS 6.0 / 5.1
    <httpHandlers>
      <add verb="*" path="*" type="SvnBridge.Web.SvnBridgeHttpHandler, SvnFacade.Library" />
    </httpHandlers>
    -->
  </system.web>
  <!-- IIS 7.0 -->
  <system.webServer>
    <handlers>
      <clear/>
      <add name="SvnBridgeHandler" 
           path="*" 
           verb="*" 
           responseBufferLimit="0" 
           type="SvnBridge.Web.SvnBridgeHttpHandler" 
           resourceType="Unspecified" 
           preCondition="integratedMode" />
    </handlers>
    <security>
      <requestFiltering>
        <fileExtensions>
          <clear/>
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
