<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SvnBridge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SvnBridge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SvnBridge.Properties.Settings>
            <setting name="TfsUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="TfsPort" serializeAs="String">
                <value>8081</value>
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyUrl" serializeAs="String">
                <value>itgproxy.redmond.corp.microsoft.com</value>
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="ProxyUseDefaultCredentials" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProxyUsername" serializeAs="String">
                <value>my\user</value>
            </setting>
            <setting name="ServerUrlFromRequest" serializeAs="String">
                <value>False</value>
            </setting>
        </SvnBridge.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SvnBridge.Properties.Settings>
            <setting name="TraceEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </SvnBridge.Properties.Settings>
    </applicationSettings>
</configuration>
